/*
 * Base styles, extends SUIT CSS base
 * https://github.com/suitcss/base
 */

/*
 * Height used for cross-browser flexbox sticky footer
 * https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

html {
  height: 100%;
}

body {
  background-color: var(--color-brand-primary);
  color: var(--color-text);
  font-family: var(--font-brand-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

p {
  margin-bottom: 20px;
}

a {
  color: var(--color-text);

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 20px;

  @media (--md-viewport-min) {
    font-size: 40px;
  }
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 20px;

  @media (--md-viewport-min) {
    font-size: 32px;
  }
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;

  @media (--md-viewport-min) {
    font-size: 28px;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
