<div class="Jumbotron Jumbotron--shadeDown Jumbotron--large u-textCenter">
  <div class="Container">
    <ul class="IconsList">
      <li class="IconsList-item">
        <a href="tel:020 7183 8202">
          <svg class="IconsList-icon"><use xlink:href="#i-phone" /></svg>
          <p class="IconsList-label">020 7183 8202</p>
        </a>
      </li>
      <li class="IconsList-item">
        <a href="mailto:enquiries@featurist.co.uk" target="_blank">
          <svg class="IconsList-icon"><use xlink:href="#i-mail" /></svg>
          <p class="IconsList-label">enquiries@featurist.co.uk</p>
        </a>
      </li>
      <li class="IconsList-item">
        <a href="https://www.google.com/maps/dir//51.5226226,-0.1108771/@51.522623,-0.110877,16z?hl=en-GB" target="_blank">
          <svg class="IconsList-icon"><use xlink:href="#i-walk" /></svg>
          <p class="IconsList-label">Get Directions</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light u-textCenter">
  <div class="Container">
    <h2 class="Jumbotron-title">Get the ball rolling</h2>
    <p class="u-textLead">
      We’d love to hear what we can do to help your business. Contact us using a method above or visit us at our Farringdon office.
    </p>
  </div>
</div>

<div class="MapBar u-textCenter">
  <div class="Container">
    <h2 class="MapBar-title">Visit Us</h2>
  </div>
  <div id="visit-us" class="MapBar-embed"></div>
</div>
