<div class="Jumbotron Jumbotron--shadeDown Jumbotron--large u-textCenter">
  <div class="Container">
    <ul class="IconsList">
      <li class="IconsList-item">
        <a href="tel:020 7183 8202">
          <svg class="IconsList-icon"><use xlink:href="#i-phone" /></svg>
          <p class="IconsList-label">020 7183 8202</p>
        </a>
      </li>
      <li class="IconsList-item">
        <a href="mailto:enquiries@featurist.co.uk" target="_blank">
          <svg class="IconsList-icon"><use xlink:href="#i-email" /></svg>
          <p class="IconsList-label">enquiries@featurist.co.uk</p>
        </a>
      </li>
      <li class="IconsList-item">
        <a href="https://www.google.com/maps/dir//Metal+Box+Factory,+30+Great+Guildford+St,+London+SE1+0HS/@51.504629,-0.0992547,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x487604a880fdf15d:0xd32c48c5f13e9072!2m2!1d-0.097066!2d51.504629!3e0" target="_blank">
          <svg class="IconsList-icon"><use xlink:href="#i-walk" /></svg>
          <p class="IconsList-label">Get Directions</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light u-textCenter">
  <div class="Container">
    <h2 class="Jumbotron-title">Get the ball rolling</h2>
    <p class="u-textLead">
      We’d love to hear what we can do to help your business. Contact us using a method above or visit us at our London Bridge office:
    </p>
    <p class="u-textLead">
      Unit 220, Metal Box Factory, 30 Great Guildford Street, London SE1 0HS
    </p>
  </div>
</div>

<div class="MapBar u-textCenter">
  <div class="Container">
    <h2 class="MapBar-title">Visit Us</h2>
  </div>
  <div id="visit-us" class="MapBar-embed"></div>
</div>
