/** @define Badges */

.Badges {
  background-color: #ededed;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: @padding-bottom;
}

.Badges-item {
  size: 54px 17px;

  .Badges-itemIcon {
    filter: grayscale(100%);
    size: 100%;
  }
}
