/** @define Badges */

.Badges {
  background-color: #fafafa;
  box-shadow: inset 0 10px 20px -10px rgba(10, 10, 10, 0.075);
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: @padding-bottom;
}

.Badges-item {
  size: 54px 17px;

  .Badges-itemIcon {
    filter: grayscale(100%);
    opacity: 0.5;
    size: 100%;
  }
}
