/** @define Badge; weak */

.Badge-container {
  background-color: #ededed;
  display: flex;
  height: 37px;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Badge {
  margin-left: 10px;
  width: 44px;

  svg {
    filter: grayscale(100%);
  }
}
