/** @define MapBar */

.MapBar {
  background-color: #fff;
}

.MapBar-title {
  border-top: 1px solid color(#fff shade(7%));
  padding-top: 20px;

  @media (--sm-viewport-min) {
    margin-left: 15%;
    margin-right: @margin-left;
  }

  @media (--md-viewport-min) {
    margin-bottom: 30px;
    padding-top: 40px;
  }
}

.MapBar-embed {
  background-color: #e5e3df;
  height: 200px;
  width: 100%;

  @media (--sm-viewport-min) {
    height: 380px;
  }
}
