/** @define Ribbon; weak */

.Ribbon-container {
  position: absolute;
}

.Ribbon {
  align-items: center;
  background-color: #ededed;
  display: flex;
  height: 26px;
  justify-content: center;
  left: -9px;
  margin-bottom: 14px;
  position: relative;
  top: 20px;
  width: 70px;

  svg {
    filter: grayscale(100%);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    border-bottom: 9px solid #b3b2b2;
    border-left: 9px solid transparent;
    left: 0.1px;
    top: -8.5px;
  }

  &::after {
    border-bottom: 13px solid transparent;
    border-left: 10px solid #ededed;
    border-top: 13px solid transparent;
    right: -10px;
    top: 0;
  }
}
