/** @define SiteHeader; weak */

.SiteHeader {
  background-color: color(var(--color-brand-primary) a(90%));
  flex: none;
  left: 0;
  overflow: hidden;
  padding: 12px 10px 6px;
  position: fixed;
  size: 100% 55px;
  top: 0;
  transition: all var(--transition-duration);
  transition: height 0.2s ease-out;
  z-index: 1;

  &.is-scrolled {
    box-shadow: 1px 1px 2px color(#000 a(20%));
  }

  &.is-expanded {

    @media (--md-viewport-max) {
      height: 100%;
    }
  }

  a {
    transition: color var(--transition-duration) ease-in-out;
  }

  @media (--sm-viewport-min) {
    height: 84px;
    padding: 20px 20px 15px;
  }

  @media (--md-viewport-min) {
    height: 95px;
  }
}

.SiteHeader-inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.SiteHeader-logo {
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: var(--color-brand-secondary);
  }
}

.SiteHeader-hamburger {
  margin-bottom: 5px;

  @media (--md-viewport-min) {
    display: none;
  }
}

.SiteHeader-logoIcon {
  margin-bottom: 4px;
  size: 27px 25px;

  @media (--sm-viewport-min) {
    size: 40px 37px;
  }

  @media (--md-viewport-min) {
    margin-bottom: 3px;
    size: 53px 49px;
  }
}

.SiteHeader-logoText {
  display: inline-block;
  font-size: 11px;
  font-weight: lighter;
  margin-left: -17px;

  @media (--sm-viewport-min) {
    font-size: 13px;
    margin-left: -23px;
  }

  @media (--md-viewport-min) {
    font-size: 14px;
    margin-left: -29px;
  }
}
