/** @define SiteFooter; weak */

.SiteFooter {
  background-color: var(--color-brand-gray-dark);
  color: color(#fff shade(20%));
  flex: none;
  font-size: 14px;
  font-weight: lighter;
  padding: 40px 20px 30px;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  @media (--sm-viewport-min) {
    padding-bottom: 40px;
    padding-top: 50px;

    .Container {
      position: relative;
    }

    .SocialLinks {
      position: absolute;
      right: 0;
      top: 85px;
    }
  }
}

.SiteFooter-panel {

  @media (--sm-viewport-min) {
    width: 50%;

    &:first-of-type {
      float: left;
      text-align: left;
    }

    &:last-of-type {
      float: right;
      text-align: right;
    }
  }
}

.SiteFooter-address {
  margin-bottom: 20px;

  .Icon {
    color: color(var(--color-brand-primary) a(30%));
    margin-bottom: 15px;
    size: 77px 71px;
  }

  @media (--sm-viewport-min) {
    margin-bottom: 0;
  }
}

.SiteFooter-nav {
  margin-bottom: 30px;

  @media (--sm-viewport-min) {
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
  }
}

.SiteFooter-navList {
  display: flex;
  justify-content: center;

  @media (--sm-viewport-min) {
    justify-content: flex-end;
  }
}

.SiteFooter-navItem {
  border-left: 1px solid #6d7279;
  padding-left: 15px;
  padding-right: @padding-left;

  &:first-child {
    border-left: 0;
  }

  &.is-current {

    a {
      text-decoration: underline;
    }
  }

  a {
    color: color(#fff shade(20%));
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (--sm-viewport-min) {

    &:last-child {
      padding-right: 0;
    }
  }
}
