/** @define SiteNav; weak */

.SiteNav {

  @media (--md-viewport-min) {
    float: right;
  }
}

.SiteNav-list {}

.SiteNav-item {
  display: inline-block;
  font-size: 13px;

  &.is-current a,
  &.is-current a:hover {
    border-bottom: 1px solid color(var(--color-brand-primary) shade(8%));
    color: var(--color-text);
  }

  a {
    display: block;
    padding: 5px 3px;
    text-decoration: none;

    &:hover {
      color: var(--color-brand-secondary);
    }
  }

  @media (--sm-viewport-min) {
    font-size: 14px;
    line-height: 1.6;

    a {
      padding: 10px;
    }
  }

  @media (--md-viewport-min) {
    font-size: var(--font-size-base);
    line-height: 1.9;
    margin-left: 15px;

    a {
      padding-left: 15px;
      padding-right: @padding-left;
    }
  }

  @media (--lg-viewport-min) {
    font-size: 18px;

    a {
      padding-left: 20px;
      padding-right: @padding-left;
    }
  }
}
