/** @define SiteNav; weak */

.SiteNav {
  flex-basis: 100%;
  padding-top: 20px;

  @media (--md-viewport-min) {
    flex-basis: initial;
    margin-bottom: 5px;
    padding-top: 0;
  }
}

.SiteNav-list {

  @media (--md-viewport-min) {
    display: flex;
  }
}

.SiteNav-item {

  &.is-current a,
  &.is-current a:hover {
    border-bottom: 1px solid color(var(--color-brand-primary) shade(8%));
    color: var(--color-text);
  }

  a {
    display: block;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: var(--color-brand-secondary);
    }
  }

  @media (--xs-viewport-min) {

    a {
      padding: 10px 8px;
    }
  }

  @media (--sm-viewport-min) {
    line-height: 1.6;

    a {
      padding-left: 10px;
      padding-right: @padding-left;
    }
  }

  @media (--md-viewport-min) {
    line-height: 1.9;
    margin-left: 10px;

    a {
      padding-left: 15px;
      padding-right: @padding-left;
    }
  }

  @media (--lg-viewport-min) {
    font-size: 18px;
    margin-left: 17px;

    a {
      padding-left: 20px;
      padding-right: @padding-left;
    }
  }
}
