/** @define Site */

/*
 * Flexbox sticky footer
 * https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

.Site {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 55px;

  @media (--sm-viewport-min) {
    padding-top: 84px;
  }

  @media (--md-viewport-min) {
    padding-top: 95px;
  }
}

.Site-content {
  flex: 1 0 auto;
}
