<div class="Jumbotron Jumbotron--dark u-textCenter">
  <div class="Container">
    <h1 class="Jumbotron-title">About Us</h1>
    <p class="u-textLead">
      <%= description %>
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light u-cf">
  <div class="Container">
    <p class="u-floatMediaRight u-textCenter">
      <img src="images/featurist-team.jpg" alt="Featurist team" width="450" height="313">
    </p>
    <p>
      Featurist is a remote-first company based out of London. Our team is spread across the UK and Europe which helps us hire the best employees, improve productivity and keep happyness levels high.
    </p>
    <p>
      We also take pride in engaging directly with our clients, and often work closely with in-house staff according to their needs. As well as development
      resource we can provide training for your staff, as well as full end-to-end management of your technical infrastructure.
    </p>
    <p>
      At Featurist we believe in simple, structured delivery processes and our team has the experience to guide you through every stage.
    </p>
    <p>
      Take a look at some of <a href="/work/">our work</a> to learn more about what we can deliver.
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light Jumbotron--narrow u-textCenter">
  <div class="Container">
    <h3 class="Jumbotron-title">Work With Us</h3>
    <p class="u-textLead">
      Featurist is a welcoming and flexible team of software professionals.
    </p>
    <a href="/careers/" class="Button Button--primary">Careers</a>
  </div>
</div>
