<div class="Jumbotron Jumbotron--dark u-textCenter">
  <div class="Container">
    <h1 class="Jumbotron-title">About Us</h1>
    <p class="u-textLead">
      <%= description %>
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light u-textCenter">
  <div class="Container">
    <h2 class="Jumbotron-title">Section Title</h2>
    <p class="u-textLead">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
  </div>
</div>
