<div class="Jumbotron Jumbotron--dark u-textCenter">
  <div class="Container">
    <h1 class="Jumbotron-title">About Us</h1>
    <p class="u-textLead">
      <%= description %>
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light u-cf">
  <div class="Container">
    <h2 class="Jumbotron-title u-textCenter">Our Process</h2>
    <p class="u-floatMediaRight u-textCenter">
      <img src="images/featurist-team.jpg" alt="Featurist team" width="450" height="313">
    </p>
    <p>
      With the help of Electron, it is now possible to run your entire web stack (SPA + backend) in a single process. When applied to testing, this becomes a compelling alternative to webdriver based testing, as it is much faster and easier to debug.
    </p>
    <p>
      With the help of Electron, it is now possible to run your entire web stack (SPA + backend) in a single process. When applied to testing, this becomes a compelling alternative to webdriver based testing, as it is much faster and easier to debug.
    </p>
    <p>
      With the help of Electron, it is now possible to run your entire web stack (SPA + backend) in a <a href="#">single process</a>.
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light Jumbotron--narrow u-textCenter">
  <div class="Container">
    <h3 class="Jumbotron-title">Work With Us</h3>
    <p class="u-textLead">
      Featurist is a welcoming and flexible team of software professionals.
    </p>
    <a href="/careers/" class="Button Button--primary">Careers</a>
  </div>
</div>
