<div class="Jumbotron Jumbotron--dark u-textCenter">
  <div class="Container">
    <h1 class="Jumbotron-title"><%= title %></h1>
    <p class="u-textLead"><%= description %></p>
  </div>
</div>

<article class="BodyText u-cf">
  <div class="Container">
    <div class="ColumnedText">
      <%- yield %>
    </div>
  </div>
</article>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light Jumbotron--narrow u-textCenter">
  <div class="Container" data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
    <h3 class="Jumbotron-title Jumbotron-title--inline">Is this the job for you?</h3>
    <a href="/contact/" class="Button Button--primary">Apply Now</a>
  </div>
</div>
