<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light u-textCenter">
  <div class="Container">
    <h1 class="Jumbotron-title">Careers at Featurist</h1>
    <p class="u-textLead">
      <%= description %>
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--dark u-cf">
  <div class="Container">
    <h2 class="Jumbotron-title u-textCenter">Our Philosophy</h2>
    <p>
      At Featurist, you'll be a equal member of the team.
    </p>
    <p>
      We value high quality software, but we equally value communicating and solving problems as a team. We're flexible with where we work, and have many exciting projects in progress and coming up.
    </p>
    <p>
      We primarily work remote, but take pride in engaging directly with our clients, working closely with their in-house staff according to their needs.
    </p>
    <p>
      From a software perspective we value open source, easy to use, well tested code. We love to engage with the wider development community through conferences (attending and talking), and try to make and take the opportunities to continuously learn and improve our skills.
    </p>
    <p>
      Think you'd enjoy working with us? <a href="/contact/">Get in touch</a>.
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light Jumbotron--narrow u-textCenter">
  <div class="Container">
    <h3 class="Jumbotron-title Jumbotron-title--inline">Want to work with us?</h3>
    <a href="/contact/" class="Button Button--primary">Contact us</a>
  </div>
</div>
