<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light u-textCenter">
  <div class="Container">
    <h1 class="Jumbotron-title">Careers at Featurist</h1>
    <p class="u-textLead">
      <%= description %>
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--dark u-cf">
  <div class="Container">
    <h2 class="Jumbotron-title u-textCenter">Our Philosophy</h2>
    <p class="u-textLead u-textCenter">
      At Featurist, you'll be a equal member of the team.
    </p>
    <p>
      We value high quality software, but we equally value communicating and solving problems as a team. We're flexible with where we work, and have many exciting projects in progress and coming up.
    </p>
    <p>
      We value open source, easy to use, well tested code. We love to engage with the wider development community through conferences (attending and talking), and try to make and take the opportunities to continuously learn and improve our skills.
    </p>
    <p>
      Think you'd enjoy working with us? We're open to approaches so <a href="/contact/">get in touch</a>!
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeDown">
  <div class="Container">
    <h2 class="Jumbotron-title u-textCenter fromBottomIn" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">Current Positions</h2>
    <p class="Jumbotron-subtitle u-textCenter fromBottomIn" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">We are always on the lookout for people who love what they do to join the Featurist team. Have a look at our current positions and let us know if you'd be a good fit!</p>
    <ul class="MediaHeroList">
      <% for (var slug in public.careers._data.jobs) {
        var job = public.careers._data.jobs[slug]
      %>
        <li class="MediaHeroList-item">
          <div class="MediaHero MediaHero--inverted">
            <a href="<%= slug %>/">
              <h3 class="MediaHero-title"><%= job.title %></h3>
              <p class="MediaHero-description">
                <%= public.careers[slug]._data.index.openGraph.description %>
              </p>
            </a>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light Jumbotron--narrow u-textCenter">
  <div class="Container" data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
    <h3 class="Jumbotron-title Jumbotron-title--inline">Want to work with us?</h3>
    <a href="/contact/" class="Button Button--primary">Contact us</a>
  </div>
</div>
