<div class="Jumbotron Jumbotron--shadeUp Jumbotron--dark u-cf">
  <div class="Container">
    <h2 class="Jumbotron-title u-textCenter">Careers at Featurist</h2>
    <p class="u-textLead u-textCenter">
      <%= description %>
    </p>
    <p class="u-floatMediaRight u-textCenter">
      <img src="images/featurists-discussing.jpg" alt="Featurist team members having a discussion" width="450" height="316">
    </p>
    <p>
      <h3>Communication</h3>
      We value high quality software, but we equally value communicating and solving problems as a team. We're flexible with where we work, and have many exciting projects in progress and coming up.
    </p>
    <p>
      <h3>Trust</h3>
      Many of us have young families, flexibility and trust is critical to our team ethos. If you are not able to do a traditional commute to London and fixed hours we know that doesn't affect your ability to deliver great work.
    </p>
    <p>
      <h3>Learning</h3>
      We value open source, easy to use, well tested code. We love to engage with the wider development community through conferences (attending and talking), and try to make and take the opportunities to continuously learn and improve our skills.
    </p>
    <p>
      Think you'd enjoy working with us? We're open to approaches so <a href="/contact/">get in touch</a>!
    </p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeDown">
  <div class="Container">
    <h2 class="Jumbotron-title u-textCenter fromBottomIn" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">Current Positions</h2>
    <p class="Jumbotron-subtitle u-textCenter fromBottomIn" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">We are always on the lookout for people who love what they do to join us.</p>

    <ul class="MediaHeroList">
      <li class="MediaHeroList-item">
        <div class="MediaHero MediaHero--inverted">
          <a href="/contact/">
            <h3 class="MediaHero-title">Development</h3>
            <p class="MediaHero-description">If you are a developer at any level, designer, tester or all of the above we'd love to hear from you and see if we're right for each other.</p>
          </a>
        </div>
      </li>
      <li class="MediaHeroList-item">
        <div class="MediaHero MediaHero--inverted">
          <a href="/contact/">
            <h3 class="MediaHero-title">Delivery</h3>
            <p class="MediaHero-description">Equally if your experience is in delivery, project management and analysis, we have a growing list of projects and clients where you can make a great impact.</p>
          </a>
        </div>
      </li>
      <li class="MediaHeroList-item">
        <div class="MediaHero MediaHero--inverted">
          <a href="/contact/">
            <h3 class="MediaHero-title">Your place</h3>
            <p class="MediaHero-description">We are not your traditional top-down organisation, all of us take responsibility, give respect and get a clear voice in Featurist.</p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light Jumbotron--narrow u-textCenter">
  <div class="Container" data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
    <h3 class="Jumbotron-title Jumbotron-title--inline">Want to work with us?</h3>
    <a href="/contact/" class="Button Button--primary">Contact us</a>
  </div>
</div>
