<div class="Jumbotron Jumbotron--shadeDown Jumbotron--large">
  <div class="Container u-cf">
    <div class="Jumbotron-panel u-textCenter">
      <img src="images/sprout.svg" alt="Hand holding growing plant" width="400" height="400">
    </div>
    <div class="Jumbotron-panel">
      <h1 class="Jumbotron-title">Your idea, in our hands</h1>
      <p class="u-textLead">
        Featurist provides full stack, feature driven development teams.
      </p>
      <p>
        We build mobile and web apps, transform legacy systems and contribute to the open-source community.
      </p>
      <p>
        <a href="/about/" class="Button Button--primary">About Us &gt;</a>
      </p>
    </div>
  </div>
</div>
<div id="learn-more" class="Jumbotron Jumbotron--shadeUp Jumbotron--light">
  <div class="Container u-cf">
    <h2 class="Jumbotron-title u-textCenter">Great work, great clients</h2>
    <div class="Jumbotron-panel">
      <p class="u-textLead">
        Our experienced team delivers top quality software development, consulting and training for your company.
      </p>
      <p>
        The clients we work with range from start-ups building their first MVP such as <a href="work/farmdrop/">Farmdrop</a>, to corporations like <a href="work/travcorp/">The Travel Corporation</a> who require a team to rebuild parts of their wider system.
      </p>
      <p>
        <a href="work/" class="Button Button--primary">Our work &gt;</a>
      </p>
    </div>
    <div class="Jumbotron-panel">
      <img class="js-lazyload" data-src="images/devices.png" alt="Featurist work on different devices" width="537" height="270">
    </div>
  </div>

  <div class="Container" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">
    <h3 class="u-hiddenVisually">Some of our clients</h3>
    <ul class="ClientLogoList">
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-camden" href="work/camden/">London Borough of Camden</a>
      </li>
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-thePigeonhole" href="work/the-pigeonhole/">The Pigeon Hole</a>
      </li>
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-scribeasy" href="work/scribeasy/">Scribeasy</a>
      </li>
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-farmdrop" href="work/farmdrop/">Farmdrop</a>
      </li>
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-imd" href="work/imd/">IMD</a>
      </li>
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-7digital" href="work/7digital/">7digital</a>
      </li>
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-broadbandChoices" href="work/broadband-choices/">Broadband Choices</a>
      </li>
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-bbc" href="work/bbc/">BBC</a>
      </li>
      <li class="ClientLogoList-item">
        <a class="ClientLogo ClientLogo-euromoney" href="work/euromoney/">Euromoney</a>
      </li>
    </ul>
  </div>
</div>

<div class="Jumbotron Jumbotron--dark">
  <div class="Container u-cf">
    <h2 class="Jumbotron-title u-textCenter" data-scroll="toggle(.fromTopIn, .fromTopOut)">Committed to open-source</h2>
    <div class="Jumbotron-panel" data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
      <div class="ProfileHeroPair">
        <div class="ProfileHeroPair-item">
          <a class="ProfileHero ProfileHero-anchor" href="https://github.com/featurist/hyperdom">
            <figure>
              <div class="ProfileHero-imageWrap">
                <img class="ProfileHero-image js-lazyload" data-src="images/project-logos/hyperdom.png" alt="hyperdom logo" width="107" height="126">
              </div>
              <figcaption>
                <h3 class="ProfileHero-title">hyperdom</h3>
                <p class="ProfileHero-caption">Fast, feature rich and simple framework for building applications.</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="ProfileHeroPair-item">
          <a class="ProfileHero ProfileHero-anchor" href="https://github.com/featurist/browser-monkey">
            <figure>
              <div class="ProfileHero-imageWrap">
                <img class="ProfileHero-image js-lazyload" data-src="images/project-logos/browser-monkey.png" alt="Browser Monkey logo" width="130" height="110">
              </div>
              <figcaption>
                <h3 class="ProfileHero-title">Browser Monkey</h3>
                <p class="ProfileHero-caption">Reliable DOM assertion library for framework agnostic browser tests.</p>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <div class="Jumbotron-panel" data-scroll="toggle(.fromRightIn, .fromRightOut)">
      <p>
        Contributing <a href="https://github.com/featurist">quality code</a> back to the open-source community is a big part of what we do at Featurist.
      </p>
      <p>
        Open code improves the quality of your application or website and helps move the web forward.
      </p>
      <p>
        <a href="code/" class="Button Button--primary">Our code &gt;</a>
      </p>
    </div>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeDown">
  <div class="Container">
    <h2 class="Jumbotron-title u-textCenter" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">Team you can trust</h2>
    <p class="Jumbotron-subtitle u-textCenter" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">Our core team of hugely experienced developers has come together after working together for many years on dozens of projects.</p>
    <ul class="ProfileHeroList">
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/tim.jpg" alt="Tim Macfarlane" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Tim Macfarlane</h3>
            <p class="ProfileHero-caption u-textItalic">Founder Developer</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/josh.jpg" alt="Josh Chisholm" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Josh Chisholm</h3>
            <p class="ProfileHero-caption u-textItalic">Founder Developer</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/adrian.jpg" alt="Adrian Longley" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Adrian Longley</h3>
            <p class="ProfileHero-caption u-textItalic">Founder Developer</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/artem.jpg" alt="Artem Avetisyan" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Artem Avetisyan</h3>
            <p class="ProfileHero-caption u-textItalic">Principal Developer</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/paul.jpg" alt="Paul Campbell" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Paul Campbell</h3>
            <p class="ProfileHero-caption u-textItalic">Principal Developer</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/derek.jpg" alt="Josh Chisholm" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Derek Ekins</h3>
            <p class="ProfileHero-caption u-textItalic">Principal Developer</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/alec.jpg" alt="Josh Chisholm" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Alec Rust</h3>
            <p class="ProfileHero-caption u-textItalic">Head of UI/UX</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/andrei.jpg" alt="Andrei Popa" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Andrei Popa</h3>
            <p class="ProfileHero-caption u-textItalic">Front-end Developer</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <figure class="ProfileHero">
          <div class="ProfileHero-imageWrap">
            <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/alex.png" alt="Alex McArthur" width="150" height="150">
          </div>
          <figcaption>
            <h3 class="ProfileHero-title">Alex McArthur</h3>
            <p class="ProfileHero-caption u-textItalic">Senior Developer</p>
          </figcaption>
        </figure>
      </li>
      <li class="ProfileHeroList-item">
        <a href="contact/">
          <figure class="ProfileHero">
            <div class="ProfileHero-imageWrap">
              <img class="ProfileHero-image ProfileHero-image--circle js-lazyload" data-src="images/team-avatars/you.png" alt="Blank avatar" width="150" height="150">
            </div>
            <figcaption>
              <h3 class="ProfileHero-title">You?</h3>
            </figcaption>
          </figure>
        </a>
      </li>
    </ul>
    <p class="Jumbotron-subtitle u-textCenter" data-scroll="toggle(.fromBottomIn, .fromBottomOut)">We also regularly collaborate with a selective group of freelancers and experts in their field to deliver just what a project needs.</p>
  </div>
</div>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light Jumbotron--narrow u-textCenter">
  <div class="Container" data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
    <h3 class="Jumbotron-title Jumbotron-title--inline">Discuss your project with the experts</h3>
    <a href="contact/" class="Button Button--primary">Contact us</a>
  </div>
</div>
