<div id="mc_embed_signup">
  <form action="//featurist.us11.list-manage.com/subscribe/post?u=<%= mailChimpUserId %>&amp;id=<%= mailChimpListId %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group Form-group">
        <label for="mce-EMAIL" class="Form-label">Email Address <span class="asterisk">*</span></label>
        <input type="email" value="" name="EMAIL" class="required email Form-input" id="mce-EMAIL" required>
      </div>
      <div class="mc-field-group Form-group">
        <label for="mce-FIRSTNAME" class="Form-label">First Name <span class="asterisk">*</span></label>
        <input type="text" value="" name="FIRSTNAME" class="required Form-input" id="mce-FIRSTNAME" required>
      </div>
      <div class="mc-field-group Form-group">
        <label for="mce-LASTNAME" class="Form-label">Last Name <span class="asterisk">*</span></label>
        <input type="text" value="" name="LASTNAME" class="required Form-input" id="mce-LASTNAME" required>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <!-- prevent bot signups -->
      <div class="u-hiddenVisually" aria-hidden="true"><input type="text" name="b_<%= mailChimpUserId %>_<%= mailChimpListId %>" tabindex="-1" value=""></div>
      <div class="u-textCenter">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="Button Button--primary">Register</button>
      </div>
    </div>
  </form>
</div>
