<footer class="SiteFooter">
  <div class="Container u-cf">
    <div class="SiteFooter-panel">
      <div class="SiteFooter-address">
        <svg class="Icon"><use xlink:href="#i-featurist" /></svg>
        <p>
          <strong>Featurist Ltd</strong><br>
          18 Vine Hill<br>
          London EC1R 5DZ
        </p>
      </div>
    </div>
    <div class="SiteFooter-panel">
      <p class="SiteFooter-slogan">
        Full stack, feature driven development teams
      </p>
      <ul class="SocialLinks">
        <li class="SocialLinks-item">
          <a href="https://twitter.com/featurists" title="Twitter">
            <svg class="Icon"><use xlink:href="#i-twitter" /></svg>
            <span class="u-hiddenVisually">Twitter</span>
          </a>
        </li>
        <li class="SocialLinks-item">
          <a href="https://www.facebook.com/featuristltd/" title="Facebook">
            <svg class="Icon"><use xlink:href="#i-facebook" /></svg>
            <span class="u-hiddenVisually">Facebook</span>
          </a>
        </li>
        <li class="SocialLinks-item">
          <a href="https://github.com/featurist" title="GitHub">
            <svg class="Icon"><use xlink:href="#i-github" /></svg>
            <span class="u-hiddenVisually">GitHub</span>
          </a>
        </li>
        <li class="SocialLinks-item">
          <a href="https://gitter.im/featurist" title="Gitter">
            <svg class="Icon"><use xlink:href="#i-gitter" /></svg>
            <span class="u-hiddenVisually">Gitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
