<footer class="SiteFooter">
  <div class="Container u-cf">
    <div class="SiteFooter-panel">
      <div class="SiteFooter-address">
        <svg class="Icon"><use xlink:href="#i-featurist" /></svg>
        <p>
          <strong>Featurist Ltd</strong><br>
          4 O'Meara Street<br>
          London SE1 1TE
        </p>
      </div>
    </div>
    <div class="SiteFooter-panel">
      <nav class="SiteFooter-nav">
        <ul class="SiteFooter-navList">
          <li class="SiteFooter-navItem<%= current.path[0] == 'contact' ? ' is-current' : '' %>">
            <a href="/contact/">Contact</a>
          </li>
          <li class="SiteFooter-navItem<%= current.path[0] == 'careers' ? ' is-current' : '' %>">
            <a href="/careers/">Careers</a>
          </li>
        </ul>
      </nav>
      <ul class="SocialLinks">
        <li class="SocialLinks-item">
          <a href="https://twitter.com/featurists" title="Twitter">
            <svg class="Icon"><use xlink:href="#i-twitter" /></svg>
            <span class="u-hiddenVisually">Twitter</span>
          </a>
        </li>
        <li class="SocialLinks-item">
          <a href="https://www.facebook.com/featuristltd/" title="Facebook">
            <svg class="Icon"><use xlink:href="#i-facebook" /></svg>
            <span class="u-hiddenVisually">Facebook</span>
          </a>
        </li>
        <li class="SocialLinks-item">
          <a href="https://github.com/featurist" title="GitHub">
            <svg class="Icon"><use xlink:href="#i-github" /></svg>
            <span class="u-hiddenVisually">GitHub</span>
          </a>
        </li>
        <li class="SocialLinks-item">
          <a href="https://gitter.im/featurist" title="Gitter">
            <svg class="Icon"><use xlink:href="#i-gitter" /></svg>
            <span class="u-hiddenVisually">Gitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
